---
layout: default
---

{% include hero.html %}


{% assign people = site.data.prototype.Sheet1 | where:"Can you find their year of Ph.D. graduation?","Yes" | sort:'name' %}


{% assign papers = site.data.venues.UIST  %}

{% comment %}
{% assign papers = site.emptyArray %}
{% for data in site.data.venues %}
    {% if data[0] != "API_Spreadsheet" and data[0] != "author_citations" and  data[0] != "cloudstitch" and data[0] != "paper_citations" and data[0] != "paper_citation" and data[0] != "prototype" and data[0] != "CHI_Extended_Abstracts" %}
      {% for key1 in data %}
        {% for key2 in key1 %}
          {% for key3 in key2 %}
            {% for key4 in key3 %}
              {% if key4.title %}
                {% assign papers = papers | push: key4 %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
    {% endif %}
{% endfor %}
{% assign papers = papers | sort: "year" %}

{% endcomment %}

<div class="gallery container">
  <div class="row">
    {% for person in people %}
      <div class="col-xs-12-xs col-sm-12 col-md-6 col-lg-6 col-xl-6" style="padding-bottom: 2em;">
        <h2 class="gallery__title">{{ person.name }}</h2>
      {% for paper in papers %}
        {% assign percentile = paper.conferencePercentile | round %}
        {% if paper.author_ids contains person.id and percentile < 50 and paper.year <= person.year %}
          <div class="paper" style="padding-bottom: 1em;">
            <p class="gallery__description">{{ paper.title }}
            <p class="gallery__description">
            {% case percentile %}
              {% when 1, 21, 31, 41, 51, 61, 71, 81, 91 %}
                {{percentile}}st
              {% when 2, 22, 32, 42, 52, 62, 72, 82, 92 %}
                {{percentile}}nd
              {% when 3, 23, 33, 43, 53, 63, 73, 83, 93 %}
                {{percentile}}rd
              {% else %}
                {{percentile}}th
            {% endcase %}
            percentile of citations in {{ paper.venue }} {{ paper.year }}
            </p>
            <p class="gallery__description">
            {% assign years_before = person.year | minus: paper.year %}
            {% if years_before == 0 %}
              The year they graduated
            {% elsif years_before == 1 %}
              1 year before graduating
            {% else %}
              {{ years_before }} years before graduating
            {% endif %}
            </p>
          </div>
        {% endif %}
      {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
