<div class="hero">
  <div class="hero--content container">
    <div class="hero--tagline">
      <h1 class="row">
          An ode to the struggles along the way.
      </h1>
      <p class="row">
        Even our academic heroes met with lukewarm responses in graduate school. This page contains papers that today's successful researchers published before finishing their PhDs &mdash; highlighting only the papers that fell below the 50th percdentile of citations for the venue that year.
      </p>
      <p class="row">To add someone to the list, add them to this spreadsheet. We crowdsourced the intial set on&nbsp;<a href="http://www.daemo.org">Daemo</a>.</p>
    </div>
  </div>
</div>
