<div class="hero">
  <div class="hero--content container">
    <div class="hero--tagline">
      <div class="row">
        <h2 class="col-xs-12">
          The academic hero's journey
        </h2>
      </div>
      <div class="row">
        <p class="col-xs-12">
        We remember our academic heroes for the best papers they wrote. We wonder whether we can ever measure up to them. But the problem is that when we only compare ourselves to their biggest successes, we miss the bigger picture of the journey they took to get there. They took risks that didn't pay off as much as they hoped, they had bumps along the way, just like us.  This page lists a few well-known researchers (<a href="https://docs.google.com/spreadsheets/d/1GSyL-GTHj2zMvt-WenZK9ZI9u16-evdPyp_xDoeSMYo/edit#gid=657066918" target="_new">add more!</a>) &mdash; but instead of just their most highly cited paper from graduate school, we also mention one of their grad school papers that didn't become as highly cited.
        </p>
      </div>
      <div class="row">
        <p class="col-xs-12">We crowdsourced the intial set of graduation dates on <a href="http://www.daemo.org" target="_new">Daemo</a>. To include or remove someone, <a href="https://docs.google.com/spreadsheets/d/1GSyL-GTHj2zMvt-WenZK9ZI9u16-evdPyp_xDoeSMYo/edit#gid=657066918" target="_new">edit this spreadsheet</a>. Last updated {{ 'now' | date: "%B %d" }}. Thanks to <a href="https://www.semanticscholar.org/" target="_new">Semantic Scholar</a> for the paper and citation dataset. GitHub source.</p>
      </div>
    </div>
  </div>
</div>
