<div class="hero">
  <div class="hero--content container">
    <div class="hero--tagline">
      <div class="row">
        <h1 class="col-xs-12">
          Fear not, young grad student.
        </h1>
      </div>
      <div class="row">
        <p class="col-xs-12">
        We remember our academic heroes for the best papers they wrote. But success means taking risks, and not every risk pans out. This page lists not just researchers' most highly cited paper from graduate school, but also their grad school papers that fell below the 50th percentile of citations for the venue that year. Let's celebrate those risks they took along the way.
        </p>
      </div>
      <div class="row">
        <p class="col-xs-12">We crowdsourced the intial set of graduation dates on <a href="http://www.daemo.org" target="_new">Daemo</a>. To include or remove someone, <a href="https://docs.google.com/spreadsheets/d/1GSyL-GTHj2zMvt-WenZK9ZI9u16-evdPyp_xDoeSMYo/edit#gid=657066918" target="_new">edit this spreadsheet</a>. Last updated {{ 'now' | date: "%B %d" }}. Thanks to <a href="https://www.semanticscholar.org/" target="_new">Semantic Scholar</a> for the paper and citation dataset. GitHub source.</p>
      </div>
    </div>
  </div>
</div>
